.header {
  display: flex;
  height: 400px;
  width: 100%;
  background-color: lightskyblue;
  background-image: url("https://www.transparenttextures.com/patterns/cardboard.png");
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
h2 {
  font-weight: 300;
  color: #FFFFFF;
}
b {
  font-weight: bold;
}
@media only screen and (min-width: 1024px) {
  #header {
    margin: 50px;
    width: 400px;
  }
}