.tweet {
  background-color: #4056A1;
  color: #FFFFFF;
  font-family: 'Bungee', cursive, sans-serif;
}
.counter {
  font-family: 'Bungee', cursive, sans-serif;
  align-self: flex-end;
}
.new-tweet {
  display: flex;
  width: 100%;
  flex-flow: column;
}

#tweet-text {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom: 3px solid;
  background-color: inherit;
  resize: none;
  width: 100%;
  font-weight: 700;
  align-items: flex-end;
  height: 40px;
}

.tweet-footer {
  display: flex;
  justify-content: space-between;
}